[submodule "submodules/web-client"]
	path = submodules/web-client
	url = git@github.com:evmos-stayking-house/web-client.git
	branch = main
[submodule "submodules/api-server"]
	path = submodules/api-server
	url = git@github.com:evmos-stayking-house/api-server.git
	branch = main
[submodule "submodules/defi-contract"]
	path = submodules/defi-contract
	url = git@github.com:evmos-stayking-house/defi-contract.git
	branch = main
[submodule "submodules/scheduled-worker"]
	path = submodules/scheduled-worker
	url = git@github.com:evmos-stayking-house/scheduled-worker.git
	branch = main
[submodule "submodules/scheduled-worker-golang"]
	path = submodules/scheduled-worker-golang
	url = git@github.com:evmos-stayking-house/scheduled-worker-golang.git
	branch = main
